<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="treeMenu/css/bootstrap-treeview.css" rel="stylesheet" />

    <style type="text/css">
            .modal {padding-top: 25px}
        </style>
</head>
<body>
    <div style="padding-left: 220px;padding-top: 60px" id="treeMenu">
        <button class="btn btn-primary" v-on:click="showAdd">新增</button>
        <button class="btn btn-warning" v-on:click="showUpdate">修改</button>
        <button class="btn btn-danger" v-on:click="showDel">删除</button>
        <div id="tree" style="padding-top: 10px"></div>

        <!-- 新增的遮盖层 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="menu_name">菜单名称</label>
                        <input type="text" name="menu_name" class="form-control" id="menu_name" placeholder="菜单名称">
                    </div>
                    <div class="form-group">
                        <label for="parent_name">父级菜单</label>
                        <input type="text" name="parent_name" class="form-control" readonly="true"  v-bind:addParentId="addParentId" id="parent_name" placeholder="父级菜单" v-model="addParentName">
                    </div>
                    <div class="form-group">
                        <label for="sort">排序规则(输入一个数字，0-30之间，数字越大，显示出来的位置越靠前)</label>
                        <input type="text" name="sort" class="form-control" id="sort" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="path">跳转路径</label>
                        <input type="text" name="path" class="form-control"  v-bind:addParentId="path" id="path" placeholder="跳转路径" v-model="path">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal" v-on:click="add"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 修改的遮盖层 -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="updateModalLabel">修改</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="new_name">新的名称</label>
                        <input type="text" name="new_name" class="form-control" id="new_name" placeholder="菜单名称" v-model="name">
                    </div>

                    <div class="form-group">
                        <label for="update_parent_name">父级菜单</label>
                        <select class="form-control" id="allNode" v-html="nodeList"></select>
                    </div>

                    <div class="form-group">
                        <label for="update_sort">排序规则(输入一个数字，0-30之间，数字越大，显示出来的位置越靠前)</label>
                        <input type="text" name="update_sort" class="form-control" id="update_sort" placeholder="0" v-model="sort">
                    </div>
                    <div class="form-group">
                        <label for="path">跳转路径</label>
                        <input type="text" name="path" class="form-control"  v-bind:addParentId="path" id="path" placeholder="跳转路径" v-model="path">
                    </div>
                    <!-- <div class="form-group">
                        <label for="update_open_flag">是否可见</label>
                        <select class="form-control" id="update_open_flag">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div> -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal" v-on:click="update"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>修改</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 删除的遮盖层 -->
        <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delModalLabel">删除</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="class_name">想要删除的菜单</label>
                        <select class="form-control" id="delNode" v-html="nodeList"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal" v-on:click="del"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    
</body>
<script src="assets/js/jquery-1.8.3.min.js"></script>
<script src="assets/js/bootstrap/bootstrap.js"></script>
<script src="treeMenu/js/bootstrap-treeview.js"></script>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript">
    var tree_vue = new Vue({
        el: "#treeMenu",
        data: {
            // 增加和修改的父菜单处理方式不一致，增加是当前选中即为父类，而修改的父类是当前选中的父类
            addParentName : "",
            addParentId : "",
            updateParentName : "",
            updateParentId : "",
            id : "",
            name : "",
            path : "",
            // 可能修改父类
            nodeList: "",
            addPath:"",
            sort : ""

        },
        methods: {
            showAdd:function(){
                if($('#tree').treeview('getSelected').length == 0){
                    this.addParentName = "当前为顶级菜单"
                    this.addParentId = 0;
                }else{
                    this.addParentName = $('#tree').treeview('getSelected')[0].text;
                    this.addParentId = $('#tree').treeview('getSelected')[0].groupId;
                    this.addPath = $('#tree').treeview('getSelected')[0].path;
                }
                
                $("#myModalLabel").text("新增");
                $('#myModal').modal();
            },
            showUpdate:function(){
                if($('#tree').treeview('getSelected').length == 0){
                    alert("请选择菜单")
                }else{
                    this.updateParentId = $('#tree').treeview('getSelected')[0].parentSeq;
                    this.id = $('#tree').treeview('getSelected')[0].groupId;
                    this.name = $('#tree').treeview('getSelected')[0].text;
                    this.sort = $('#tree').treeview('getSelected')[0].order;
                    this.path = $('#tree').treeview('getSelected')[0].path;
                    console.log($('#tree').treeview('getSelected')[0])

                    // 默认的父类选中
                    axios
                    .get("http://localhost:8085/biz/menu/queryById",{
                        params:{
                            "menuId" : this.updateParentId
                        }
                    })
                    .then(response => {
                        if(response.data.data != null){
                            this.nodeList = "<option value="+response.data.data.menuId+">"+response.data.data.name+"</option>"
                        }else{
                            this.nodeList = "<option value=0>已为顶级父类</option>"
                        }
                    })

                    // 父类下拉框添加数据
                    axios
                    .get("http://localhost:8085/biz/menu/queryAll")
                    .then(response => {

                        for (var i = 0; i < response.data.data.length; i++) {
                            // alert(response.data.data[0].name)
                            if(response.data.data[i].menuId != this.updateParentId){
                                this.nodeList += "<option value="+response.data.data[i].menuId+">"+response.data.data[i].name+"</option>"
                            }
                            
                        }
                    })


                    $("#updateModalLabel").text("修改");
                    $('#updateModal').modal();
                    }
                
                
            },
            showDel: function(){
                if($('#tree').treeview('getSelected').length == 0){
                    alert("请选择菜单")
                }else{
                    this.id = $('#tree').treeview('getSelected')[0].groupId;
                    this.name = $('#tree').treeview('getSelected')[0].text;
                    this.nodeList = "<option value="+this.id+">"+this.name+"</option>";
                    $("#delModalLabel").text("删除");
                    $('#delModal').modal();
                }
            },
            add : function(){
                axios
                .get("http://localhost:8085/biz/menu/add",{
                    params:{
                        "name" : $("#menu_name").val(),
                        "parentId" : this.addParentId,
                        "sort" : $("#sort").val(),
                        "path" : $("#path").val()
                            }
                })
                .then(response => {
                    alert("新增成功");
                    top.location='index.html';
                })
            },
            update : function(){
                console.log("allNode is" + $("#allNode").val())
                axios
                .get("http://localhost:8085/biz/menu/update",{
                    params:{
                        "menuId" : this.id,
                        "name" : $("#new_name").val(),
                        "parentId" : $("#allNode").val(),
                        "sort" : $("#update_sort").val(),
                        "path" : $("#path").val()
                            }
                })
                .then(response => {
                    alert("修改成功");
                    // location.reload();
                    top.location='index.html';
                })
            },
            del:function(){
                axios
                .get("http://localhost:8085/biz/menu/delete",{
                    params:{
                        "menuId" : this.id
                            }
                })
                .then(response => {
                    alert("删除成功");
                    top.location='index.html';
                })
            }
        },
        mounted(){
            axios
                .get('http://localhost:8085/biz/menu/queryTreeMenu',{
                    params : {
                        "userId" : sessionStorage.getItem("userId")
                    }
                })
                .then(response =>{
                    $('#tree').treeview({
                        color : "#428bca",
                        enableLinks: true,
                        data : response.data.data,
                        onNodeSelected : function(event, node) {

                        },
                        onNodeUnselected:function (event, node) {
                            // var anh = $('#top').offset().top;
                            // debugger
                            // $("#content").stop().animate({scrollTop:anh},400);
                        }
                    })
                })
        }
    })
</script>
</html>