<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huwei.newsdemo.biz.dao.MenuDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id AS menuId, name AS name, path AS path, parentId AS parentId, icon AS icon, component AS component, sort AS sort, type AS type, create_time AS createTime, update_time AS updateTime, del_flag AS delFlag
    </sql>

</mapper>
